* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1.5s;
}

button {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.1rem;
  padding: 8px 12px;
  transition: background-color 1.5s;
}